<html>

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- font awesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <!--Google Font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <!--Stylesheet-->
  <link rel="stylesheet" href="./style.css">
  <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<body>
  <section class="container">

    <div class="todo">

      <h2 align="center" class="title">TODO APP</h2>

      <!-- form to create task -->
      <form action="/create-task" method="POST">

        <table class="table" style="width:100%">
          <thead>
            <tr class="table_heading">
              <th style="width:40%">DESCRIPTION</th>
              <th style="width:20%">CATEGORY</th>
              <th style="width:20%">DUE DATE</th>
            </tr>
          </thead>


          <tbody>
            <tr class="tbody">

              <td class="description"> <input type="text" name="description" placeholder="What do you need to do?"
                  required /></td>

              <td class="category">
                <select name="category" required>
                  <option>PERSONAL</option>
                  <option>WORK</option>
                  <option>SCHOOL</option>
                  <option>CLEANING</option>
                  <option>OTHER</option>
                </select>
              </td>

              <td class="date"> <input type="date" data-date="" data-date-format="DD MMMM YYYY" name="date" required>
              </td>


            </tr>
          </tbody>

        </table>

        <div id="add_task_button">
          <input type="submit" class="btn btn-success" id="add" value="ADD TASK">
        </div>


      </form>
    </div>


    <div class="task_list">
      <h2 align="center" class="title">TASKS LIST</h2>

      <form action="/delete-task" method="GET">
        <table class="table" style="width:100%">
          <thead>
            <tr class="table_heading">
              <th style="width:10%">SELECT</th>
              <th style="width:30%">TASK</th>
              <th style="width:20%">CATEGORY</th>
              <th style="width:30%">DUE DATE</th>
            </tr>
          </thead>


          <% for(let i of task) { %>

            <tr id="task_list">
              <td> <input type="checkbox" name="<%= i._id %>"></td>
              <td>
                <p id="task-description">
                  <%= i.description %>
              </td>
              <td>
                <p id="task-category"></p>
                <%= i.category %>
              </td>
              <td>
                <p id="due-date">
                  <%= i.date %>
                </p>
              </td>
            </tr>

            <% } %>

        </table>
        <div id="delete_task_button"><input type="submit" class="btn btn-danger" value="DELETE TASK">
        </div>
      </form>
    </div>

  </section>



</body>
<script>
  function convert(str) {
    var date = new Date(str),
      month = ("0" + (date.getMonth() + 1)).slice(-2),
      day = ("0" + date.getDate()).slice(-2);
    return [date.getFullYear(), month, day].join("-");
  }
</script>

</html>